/* custom_styles.css example to alter toctree list appearance */

.rst-content .toctree-wrapper .toctree-l1 {
  list-style-type: none; /* Remove bullets */
  font-size: 22px; /* Larger text */
  font-weight: bold; /* Bold text */
  margin-left: 0; /* Remove indentation */
  margin-bottom: 24px; /* Add space between items */
}

.rst-content .toctree-wrapper .toctree-l2 {
  list-style: disc; /* Change bullets */
  font-size: 16px; /* Smaller text */
  font-weight: normal; /* Normal text */
  /* margin-left: 24px; Add back indentation */
}


