mlagents==0.30.0
stable-baselines3[extra]
sb3-contrib
imageio-ffmpeg
torchvision
scipy
timm
nvidia-ml-py
lightning
lightning-bolts
scikit-learn
sphinx
protobuf==3.20
mkdocs
sphinx-rtd-theme
myst-parser